<%= form_with(model: issue) do |form| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
        <% issue.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :team %>
    <%= form.collection_select(:team_id, @teams, :id, :name, include_blank: "選択して下さい" )  %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :detail %>
    <%= form.text_area :detail %>
  </div>

  <div class="field">
  <%= form.label :image ,"改善前" %>
  <%= form.file_field :image %>
  </div>

  <div class="field">
  <%= form.label :image, "改善後" %>
  <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :cause %>
    <%= form.text_area :cause %>
  </div>

  <div class="field">
    <%= form.label :goal %>
    <%= form.text_area :goal %>
  </div>

  <div class="field">
    <%= form.label :gap %>
    <%= form.text_area :gap %>
  </div>

  <div class="field">
    <%= form.label :due_date_at %>
    <%= form.date_field :due_date_at %>
  </div>

  <div class="field">
    <%= form.label :status %><br>
    <%= form.select :status, Issue.statuses.keys.to_a,include_blank: "選択して下さい"  %>
  </div>

  <div class="field">
    <%= form.label :priority %><br>
    <%= form.select :priority, Issue.priorities.keys.to_a,include_blank: "選択して下さい"  %>
  </div>

  <div class="field">
    <%= form.label :done_flag %>
    <%= form.check_box :done_flag %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
