<h2><%= "#{@user.name}のマイページ" %></h2>
<hr/>

<p>
    <strong>プロフィール画像</strong><br>
    <% if @user.icon?%>
        <%= image_tag @user.icon.url, style: "border-radius: 50%; width: 120px; height: 120px; object-fit:cover;"%>
    <% else%>
        <%= image_tag "default_icon.jpeg", style: "border-radius: 50%; width: 120px; height: 120px; object-fit:cover;" %>
    <%end%>
</p>
<p>
    <strong>ユーザー名</strong>
    <%= @user.name %>
</p>
<p>
    <strong>部署名</strong>
    <%= @user.department %>
</p>
<p>
    <strong>e-mail</strong>
    <%= @user.email %>
</p>

<div>
    <strong>所属チーム</strong>
    <table class="table">
    <tbody>
        <% @user.assign_teams.each do |team| %>
        <tr>
            <td><%= team.name %></td>
            <td><%= link_to "詳細", teams_path %></td>
        </tr>
        <% end %>
    </tbody>
    </table>
</div>

<%= button_to '管理者ページ', rails_admin_path, method: :get, class: "btn admin-btn" %>

<%= link_to "編集", edit_user_registration_path %>
<%= link_to 'チーム一覧', teams_path(@team) %>
<%= link_to '課題一覧', issues_path(@issues) %>
<%= link_to 'アクションプラン一覧', plans_path(@plan) %>