<!DOCTYPE html>
<html>
  <head>
    <title>SampleKaizen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to "#{current_user.name}の詳細ページ", user_path(current_user)%>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      <%= link_to "管理画面", rails_admin_path if current_user.try(:admin?) %>
    <% else %>
      <%= link_to 'ログイン', new_user_session_path %>
      <%= link_to 'サインアップ', new_user_registration_path %>
    <% end %>
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
